build/

# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# Ignore Intellij idea 
.idea
# Ignore engine binaries
engine/bin
# Ignore game binaries
dwaraka/bin
# Ignore settings
dwaraka/.settings
engine/.settings
